#!/bin/bash

alias cfind="groot-cfind"
alias cdw="cd /mnt/mervin/workspaces"
alias cdbob="cd /mnt/mervin/workspaces/bob"
alias vci-github="vci config https://raw.githubusercontent.com/stonier/repos_index/devel/current.yaml"
alias vci-local="vci config file:///mnt/mervin/workspaces/bob/repos_index/current.yaml"
alias vimmumbo="vim /mnt/mervin/other/mumbojumbo"
